* {
    margin: 0;
    padding: 0;
}
html{
	scroll-behavior: smooth;
	min-height: 100%;
}
header{
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
}
body{
  font-size: 16px;
 font-family: 'Raleway', sans-serif;
}
/**header**/
 .navbar.bg-light {
    background-color:transparent;
    text-transform: uppercase;
    font-size: 14px;
    height: 100px;
    position: relative;
}
.Fixed.navbar.bg-light {
    background-color: transparent;
    height: 100px;
    z-index: 99;
}
header nav .container{
    min-height: 100px;
}
header.Fixed{
    position: relative;
    z-index: 999;
}
header.Fixed .navbar.bg-light{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    box-shadow: 0 0 4px 2px rgb(0 0 0 / 48%);
    z-index: 99;
}
header.Fixed nav .menu-header-menu-container ul li a{
    /* color:#000; */
}
.logo a{
    width: 170px;
}
.logo img{
    width: 100%;
   
}
header nav .menu-header-menu-container{
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    text-align: right!important;
    -ms-flex-positive: 1!important;
    flex-grow: 1!important;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
}

header nav .menu-header-menu-container a.btn-LE{
    margin-left: 45px;
}
/**  wp menu **/
.menu-new {
	display: block

}

.menu-new li {
	display: inline-block;
	position: relative;
	
}
.menu-new li.current-menu-item a{
    color: #fff;
}

.menu-new li a {
   color: #fff;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	padding:0px 30px 30px;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 30px;
	
}
.menu-new li a:hover,
.menu-new li ul li:hover>a {
	color: #da9434;
    background: transparent;
}

.responsive-menu {
	display: none;
	width: 100%;
	padding: 20px 15px;
	background: #1b3486;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600
}

.responsive-menu:hover {
	background: #1b3486;
	color: #fff;
	text-decoration: none
}
.navbar .btn{
	
color: #da9434;
font-weight: 600;
font-size:16px;
line-height: 30px;
text-transform: uppercase;
 border: 2px solid #da9434 ;
  cursor: pointer;
  background-color: transparent;
  padding: 9px 24px;
  border-radius: 0;

	
}
.navbar .btn:hover{
background-color: #da9434;
color: #fff;
}

/**header end**/
.p100{
    padding-bottom: 100px;
    padding-top: 100px;
}
/**banner**/
.banner{
	 height: 100vh;
    position: relative;
	    padding: 0;
}
.banner .bg{
	height: 100vh;
width: 100%;
 object-fit: cover;
}
.banner .banner-caption{
    position: absolute;
    width: calc(90% - 80px);
    text-align: left;
    left: 55%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    margin-left: 0px;
    z-index: 1;
   
}
.banner .banner-content{
height: 100%;
}
.banner-caption p{
font-size: 22px;
line-height: 30px;
font-weight: 500;
text-transform: uppercase;
color: #fff;
}
.banner-caption p:after{
content:'';
display:block;
width:30px;
height: 1px;
position: absolute;
background: #fff;
top: 6%;
    left: 10%;
}
.banner-caption h1{
font-size: 60px;
line-height: 65px;
font-weight: 400;
text-transform: uppercase;
color: #000;
font-family: Felix Titling;
}
.banner-caption .btn{
color: #da9434;
font-weight: 600;
font-size:16px;
line-height: 30px;
text-transform: uppercase;
 border: 2px solid #da9434 ;
  cursor: pointer;
  background-color: transparent;
  padding: 11px 46px;
  border-radius: 0;
}
.banner-caption .btn:hover{
	color: #fff;
 background-color: #d79300;
}
.banner-end .btn{
color: #fff;
 background-color: #d79300;
 padding: 11px 24px;
  right:-171px;
  bottom:30%;
position: absolute;
  transform: rotate(90deg);
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;

}
.banner-end .btn:hover{
color: #d79300;
 background-color: #fff;	
}
.banner .scroll-down{
	height: 50px;
	width: 30px;
	position: absolute;
	left: 50%;
  bottom: 10px;
	cursor: pointer;
  z-index: 1;

}
.banner .scroll-down:after{
position: absolute;
content: '';
height: 20px;
width: 20px;
left: 50%;
border: 2px solid #fff;
transform: translate(-50%,-50%) rotate(45deg);
border-top: transparent;
border-left: transparent;
}

/**end banner**/
/**about**/
.about{
	background-color: #fff;
	position: relative;
}
.about h2{
font-size: 50px;
line-height: 79px;
text-transform: uppercase;
font-family: Cinzel;
padding-top: 30px;
padding-bottom: 20px;
}
.about p{
	font-size: 18px;
line-height: 34px;
color: #5e5e5e;
font-weight: 400;
padding-bottom: 20px;
}
.about .btn{
	background-color: #d79300;
	color: #fff;
	text-transform: uppercase;
	 padding: 13px 42px;
	 border-radius: 0;
}
.about .btn:hover{
	background-color: #fff;
	color: #d79300;
	border: 2px solid #d79300;
}
.about .road{
	position: absolute;
top: 0;
top: -55px;
    left: -38px;
}
.about .demo{
width: 418px;
height: 506px;
border: 8px solid #d79300;

}


/**end about**/
/** describe**/
.describe{
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	background-image: url(../img/water.jpg);
  position: relative;
}
.describe .blog{
	font-size: 20px;
	line-height: 40px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	text-align: center;
	color: #fff;
}
.describe .blog:before{
content:"";
background:url(../img/left.png);
position:absolute;
width:50px;
height:50px;
background-repeat: no-repeat;
top: 76px;
left: 12%;
}
.describe .blog:after{
content:"";
background:url(../img/right.png);
width:50px;
height:50px;
position:absolute;
background-repeat: no-repeat;
bottom: 72px;
    right:15%;
}


/**end describe**/

/** serve**/
.serve .owner{
	width: 100%;
}
.serve .physicians{
	width: 100%;
}
.serve .non-profits{
	width: 100%;
}
.serve .retirement{
	width: 100%;
}
.serve .retired{
	width: 100%;
}
.serve{
	background-image: url(../img/bg2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	text-align: center;
}
.serve h2{
	font-size: 50px;
line-height: 79px;
text-transform: uppercase;
font-family: Cinzel;
color: #fff;
font-weight: 400;
}
.serve p{
font-size: 20px;
line-height:34px;
font-family: 'Raleway', sans-serif;
color:#cecece;
font-weight: 600;	
padding-bottom: 20px;
}

.serve  .textBox{
	background-color: #3a6c9d;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
 padding-bottom: 30px;

}
.serve  .textBox1{
	background-color: #3a6c9d;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
 padding-bottom: 30px;

}
.serve  .textBox p{
font-size:16px;
line-height:26px;
font-family: 'Raleway', sans-serif;
color: #cedbea;
font-weight: 400;	
}
.serve  .textBox1 p{
font-size:16px;
line-height:26px;
font-family: 'Raleway', sans-serif;
color: #cedbea;
font-weight: 400;
padding-top: 25px;	
}
.serve  .textBox1 h6{
font-size: 20px;
line-height: 29px;
text-transform: uppercase;
font-family: Cinzel;
color: #fff;
font-weight: 400;
padding-top: 35px;	
}
.serve  .textBox h6{
font-size: 20px;
line-height: 79px;
text-transform: uppercase;
font-family: Cinzel;
color: #fff;
font-weight: 400;
padding-top: 10px;	
}
.serve  .textBox .fa{
	color: #fff;
    width: 16px;
    height: 9px;
    top: 50%;
}
.serve  .textBox .btn{
	border: 1px solid #fff;
	border-radius: 50%;
	width: 40px;
	height: 40px;
}
.serve  .textBox .btn:hover{
	background-color: #000;
}
.serve  .textBox1 .fa{
	color: #fff;
    width: 16px;
    height: 9px;
    top: 50%;
}
.serve  .textBox1 .btn{
	border: 1px solid #fff;
	border-radius: 50%;
	width: 40px;
	height: 40px;
}
.serve  .textBox1 .btn:hover{
	background-color: #000;
}
/** end serve**/

/** service**/

.service{
	background-color: #fff;
	background-repeat: no-repeat;
	background-size: cover;
}
.service h2{
	font-size: 50px;
line-height: 79px;
text-transform: uppercase;
font-family: Cinzel;
color: #000;
font-weight: 400;
text-align: center;
}
.service p{
	font-size:20px;
line-height:34px;
font-family: 'Raleway', sans-serif;
color: #787878;
font-weight: 600;
text-align: center;
padding-bottom:30px;
}
 hr{
	border:1px solid #787878;
  border-radius:0;
  width: 100%;
  background-color: #787878;
  margin-bottom: 50px;
  margin-top: 30px;
  opacity: 0.25;
}
.service .textBox h6{
font-size:18px;
line-height:79px;
font-family: Cinzel;
color: #000;
text-align: left;
} 
.service .textBox p{
font-size:16px;
line-height:28px;
font-family: 'Raleway', sans-serif;
color: #4c4c4c;
text-align: left;
} 
.service  .main:before{
	content:'';
	border: 1px solid #4c4c4c;
	padding: 140px;
	position: absolute;
	border-right: transparent;
	border-bottom: transparent;
	border-top: transparent;
	opacity: 0.25;
}
.service .comment{
	padding-left: 40px;
}
.service .textBox1 p{
font-size:16px;
line-height:28px;
font-family: 'Raleway', sans-serif;
color: #4c4c4c;
text-align: left;
} 
.service .textBox1 h6{
font-size:18px;
line-height:29px;
font-family: Cinzel;
color: #000;
text-align: left;
padding-bottom:1px;
padding-top: 20px;
} 

/** end service**/
/** footer-content**/
 .footer-content{
	background-color: #1a4f88;
	background-repeat: no-repeat;
	background-size: cover;
}
.footer-content h6{
	color: #fff;
	font-family: Felix Titling;
	font-size: 28px;
	line-height: 53px;
}
.footer-content ul li{
    list-style: none;
    text-decoration: none;
    font-family:'Raleway', sans-serif; 
}
.footer-content a{
    text-decoration: none;
     color: #c0c8df;
     font-size: 17px;
     font-family: 'Raleway', sans-serif;
     font-weight: 400;
     line-height: 36px;

}
.footer-content a:hover{
    color: #fff;
    text-decoration: none;
}
.footer-content p{
	 color: #c0c8df;
     font-size: 17px;
     font-family: 'Raleway', sans-serif;
     font-weight: 400;
     line-height: 32px;
}
.footer-content .contact{
	padding-left: 50px;

}
.footer-content input{
	background-color: #2e6199;
	border: 0px;
	border-radius: 0px;
	color: #c0c8df;
	cursor: pointer;
	padding: 20px;
}
.footer-content textarea{
	background-color: #2e6199;
	border: 0px;
	border-radius: 0px;
	color: #c0c8df;
	cursor: pointer;
	margin-bottom: 10px;
	padding:20px;
}
.footer-content .contact .btn{
color: #da9434;
font-size: 16px;
line-height: 30px;
border: 1px solid  #da9434;
padding: 10px 88px;
border-radius: 0px;
}
.footer-content .contact .btn:hover{
color: #da9434;
border: 1px solid  #fff;

}
/** end footer-content**/

/**footer**/

footer{
	background-color: #113e6e;
}
footer p{
 color: #c0c8df;
     font-size: 14px;
     font-family: 'Raleway', sans-serif;
     font-weight: 400;
     line-height: 36px;
     padding-top: 10px;
     cursor: pointer;
}
footer p span{
	color: #fff;
}
footer p span:hover{
	color: #000;
}

::-webkit-input-placeholder {/* Chrome/Opera/Safari */color: #fff !important;}
::-moz-placeholder {/* Firefox 19+ */color:  #fff !important;}
:-ms-input-placeholder {/* IE 10+ */color:  #fff !important;}
:-moz-placeholder {/* Firefox 18- */color:  #fff !important;}
/** end footer**/

@media (max-width: 1941px){
  .banner-caption p:after{
    left: 8%;
  }
}
@media (max-width: 1540px){
  .banner-caption p:after{
    left: 10%;
  }
}
@media (max-width: 1441px){
.describe .blog:before {
    left: 10%;
}
.describe .blog:after {
    right: 13%;
}
}

@media (max-width: 1201px){
	header{
		height: auto;
	}
	.banner-content p:after{
		left: 13%;
    top: 6%;
	}
	.about .road{
	left: 0%;	
	}
	.about .demo {
    width: 418px;
    height: 500px;
    border: 8px solid #d79300;
    margin-left: 25px;
}
.describe .blog:before{
left: 2%;
}
.describe .blog:after{
bottom: 78px;
    right: 10%
}
.scroll-down{
	bottom: -84px;
}
.banner-end .btn {
    color: #fff;
    background-color: #d79300;
    padding: 11px 24px;
   right: -171px;
    bottom: 50%;
    position: absolute;
    transform: rotate(90deg);
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
}
.banner-content p{
	padding-top: 0;
}
}

@media (max-width: 1025px){

.banner-content p:after{
	left: 15%;
    top: 6%;
	}
	.serve .textBox1 p{
		padding-top: 0;
	}
	.menu-new li a{
padding: 0px 10px 0px 20px;
}
.footer-content .contact .btn{
padding: 9px 58px;
}
.describe .blog:after{

right: 3%;
}
}
@media (max-width: 992px){
.banner-content p:after {
    left:15%;
}
.about .demo {
  
    margin-left: 140px;
}
.about .road{
	left: 15%;	
	}
	.about{
		text-align: center;
	}
	.about h2{
		text-align: center;
	}
	.describe .right {
    right: 21%;
}
.service .comment{
	padding-left: 0;
}
.service .main:before{
	border-left: transparent;
}
.footer-content .contact{
	padding-left: 0;
}
.footer-content .contact .btn {
    padding: 15px 283px;
}
.describe .blog:before {
    left: 10%;
}
.describe .blog:after {
    right: 13%;
}
}

@media (max-width: 788px){

	.banner-end .btn{
		bottom: 60%;
	}
	.banner-content p:after {
    left: 20%;
}
.describe .blog:before {
    left: 2%;
}
.describe .blog:after {
    right: 5%;
}
}
@media (max-width: 641px){
.banner-content p:after {
    left: 25%;
}
.about .demo {
    margin-left: 70px;
}
.about .road {
    left: 6%;
}
footer p{
	font-size: 11px;
}
.banner-end .btn{
font-size: 15px;
right: -165px;
}
.footer-content .contact .btn {
    padding: 8px 193px;
}
.describe .blog:before {
    left: 7%;
}
.describe .blog:after {
    right: 2%;
}
}
@media (max-width: 541px){
  .banner-content p:after {
    left: 30%;
}
}
@media (max-width: 421px){
.about .demo {
    width: 80%;
    height: 400px;
}
.about .road{
	width: 80%;
}
.describe .blog:before {
    left: 1%;
}
.describe .blog:after {
    right: 2%;
    bottom: 12%;
}
footer p {
    font-size: 8px;
}
.banner-content p:after {
    left: 41%;
}
.footer-content .contact .btn {
    padding: 10px 133px;
}
.banner-content h1 {
    font-size: 48px;
    line-height: 60px;
}
.banner-end .btn {
    font-size: 12px;
    right: -146px;
    padding: 2px 24px;
}
}	
@media (max-width: 415px){
.footer-content .contact .btn {
    padding: 10px 128px;
}
.scroll-down {
	left: 48%;
}
.banner-content p:after {
    left: 41%;
    
}
.logo img {
    width: 85%;
}
.describe .blog:before {
    left: 2%;
    width: 40px;
    height: 30px;
}
.describe .blog:after {
    right: 2%;
    bottom: 14%;
    width: 40px;
    height: 30px;
}
}
@media (max-width: 376px){
.footer-content .contact .btn {
    padding: 10px 110px;
}
.scroll-down {
	left: 48%;
}
.banner-content p:after {
    left: 48%;
  
   
}
.about .demo {
    height: 354px;
}
.serve h2 {
    font-size: 50px;
    line-height: 55px;
}
.describe .blog:before {
    left: 0%;
    width: 36px;
    height: 30px;
}
.describe .blog:after {
    right: 4%;
    bottom: 15%;
      width: 39px;
    height: 29px;
}
footer p {
    font-size: 7px;
    line-height: 13px;
}
.logo img {
    width: 78%;
}
.banner-content h1 {
    font-size: 40px;
    line-height: 54px;
}
}
@media (max-width: 361px){

.banner-end .btn {
    font-size: 10px;
    right: -131px;
}
.about .demo {
    height: 337px;
}
.describe .right {
    right: 14%;
}
.serve h2 {
    font-size: 50px;
    line-height: 45px;
}
footer p {
    font-size: 7px;
}
.banner-content p:after {
   top: 7%;
    left: 51%;
}
.footer-content .contact .btn {
    padding: 10px 103px;
}
.logo img {
    width: 74%;
}
}
@media (max-width: 321px){
.footer-content .contact .btn {
    padding: 5px 83px;
}
.describe .right {
    right: 8%;
}
.about .demo {
    height: 291px;
    margin-left: 63px;
}
.banner-end .btn {
    padding: 0px 14px;
    right: -122px;
}
.banner-content p:after {
    left: 58%;
}
footer p {
    font-size: 6px;
}
.logo img {
    width: 58%;
}
.describe .blog:after {
    bottom: 12%;
}
.banner-content h1 {
    font-size: 34px;
    line-height: 42px;
}
.banner-end .btn {
    bottom: 43%;
}
}
@media (max-width: 281px){
.banner-content p {
    font-size: 18px;
}
.banner-content p:after {
        top: 8%;
    left: 60%;
}
.banner-content h1 {
    font-size: 28px;
    line-height: 38px;
}
.scroll-down {
    left: 47%;
}
.about .demo {
    height: 250px;
    margin-left: 56px;
}
.about .road {
    width: 78%;
}
.describe .right {
    right: 13%;
}
.footer-content .contact .btn {
    padding: 3px 63px;
}
footer p {
    font-size: 5px;
}
.banner-end .btn {
   padding: 0px 0px;
       right: -107px; 
}
.banner-caption .btn{
   padding: 0px 0px;
}
.describe .blog:after {
    bottom: 10%;
}
}
